.emptyView-wrap {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 7rem;

}

.emptyView-wrap img{
    object-fit: cover;
    max-width: 500px;
    width: 100%;
    border-radius: 100%;
}